* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9EC5AB;
  padding-inline: 10px;
}
h1 {
  color: #011502;
  text-align: center;
  margin: 1rem auto;
}
#game-container {
  background-color: #32746D;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 10px;
  padding-bottom: 15px;
  filter: blur(0px);
  transition: all 200ms;
}
#header {
  background-color: #104F55;
  color: #9EC5AB;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}
#game {
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  aspect-ratio: 1/1;
  width: 80%;
  margin-top: 15px;
}
.button {
  width: 15vw;
  max-width: 90px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  background-color: #9EC5AB;
  justify-self: center;
  align-self: center;
}
sub {
  font-size: .8rem;
}
#alert {
  position: fixed;
  top: 110%;
  left: 25%;
  width: 50%;
  padding: 20px;
  /* height: 50%; */
  background-color: rgb(147, 38, 74);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}
#alert p {
  text-align: center;
  color: #fdfdfd;
  font-size: 2.2rem;
}
#alert button {
  cursor: pointer;
  text-align: center;
  width: 40%;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: #551021;
  margin-top: 20px;
}
#alert button:hover {
  background-color: #c28f9c;
}
#alert button:active {
  background-color: #c28f9c;
}

/* 
@media only screen and (max-width: 320px) {
  .button {
    width: 50px;
    height: 50px;
    margin: 1rem;
  }
}
*/
